<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tfjybj.integral.provider.dao.MonthIntegralDao">


    <!-- 插入tik_month_integral中用户本月的净收益字段-->
    <insert id="InsertMonthNetIncome" parameterType="List">
        INSERT INTO tik_month_integral(id,user_id,month_earmings)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.UserId},#{item.SumIntegral})
        </foreach>
    </insert>

    <!--批量更新tik_month_integral中用户上个月的净收益字段-->
    <update id="UpdateLastMonthNetIncome" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" separator=";">
            update tik_month_integral
            <set>
                last_month_integral=#{item.SumIntegral}
            </set>
            where user_id = #{item.UserId}
        </foreach>
    </update>
    <!--批量更新tik_month_integral中用户本月的总收入字段-->
    <update id="UpdateMonthIncome" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" separator=";">
            update tik_month_integral
            <set>
                month_income=#{item.SumIntegral}
            </set>
            where user_id = #{item.UserId}
        </foreach>
    </update>
    <!--批量更新tik_month_integral中用户本月的总支出字段-->
    <update id="UpdateMonthexpenditure" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" separator=";">
            update tik_month_integral
            <set>
                month_expend=#{item.SumIntegral}
            </set>
            where user_id = #{item.UserId}
        </foreach>
    </update>
    <!--批量更新tik_month_integral中用户本月的用户插件加分Json-->
    <update id="UpdateMonthPlugin" parameterType="com.tfjybj.integral.model.MonthHashmapModel">
            update tik_month_integral
            <set>
                plugin_integral=#{pluginJson}
            </set>
            where user_id = #{UserId}
    </update>


</mapper>