<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tfjybj.integral.provider.dao.OrganizationUserDao">
	<!--根据OrganizationUser操作者模糊查询OrganizationUserEntity-->
    <select id="queryLikeOperator" resultType="com.tfjybj.integral.entity.OrganizationUserEntity">
        SELECT
			*
        FROM
			tc_organization_user f
        WHERE
			f.is_delete = 0
        <if test="operator !=''">
            <bind name="pattern" value="'%' + operator + '%'"/>
            AND f.operator LIKE #{pattern}
        </if>
        ORDER BY
        f.create_time DESC
    </select>

</mapper>