<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tfjybj.integral.provider.dao.SportRecordDao">
    <!--根据sportRecord钉钉user_id和本月时间查询本月的SportRecordModel-->
    <select id="querySelfSport"  resultType="com.tfjybj.integral.model.SportRecordModel">
        SELECT
        *
        FROM
        tid_sport_record
        WHERE
        stat_date between
        #{firstDay} and #{todayTime}
        and is_success=1
        AND is_delete=0
        AND is_calculate =1
        AND user_id = #{userId}
        ORDER BY stat_date desc
        <if test="pageNum!=null and pageSize!=null">
            limit #{pageNum},#{pageSize}
        </if>
    </select>
    <select id="selectAllSportRecord" resultType="com.tfjybj.integral.model.DingSportRecordModel">
        SELECT
            *
        FROM
            tid_sport_record
        WHERE
            create_time = TO_DAYS(NOW())
        GROUP BY
            user_id
    </select>

</mapper>